@charset "utf-8";
/* CSS Document */

/* Install new fonts */
@font-face{
	font-family:minionPro;
	src:url(../fonts/MinionPro-Regular.otf);}
@font-face{
	font-family:garamond;
	src:url(../fonts/GARA.TTF);
	}
	
	
html{
	position:relative;
	min-height:100%;}
body {
	height:100%;
	padding-bottom: 60px;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.6em;
	color: #656565;
}


/* navbar styles */
.navbar-default a {
	margin-left:2px;
	font-weight:bold;
	}	
.navbar-collapse{
	text-align:center;
	}
.nav {
	font-size:18px;
}
#mainNavbar{
	text-align:center;
	margin-top:15px;}
ul.nav {
	display:inline-block;
	margin:0 auto;}
ul.nav li {
	padding-top:10px;}
/*body a {
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
}*/




/* social buttons styles */
.social-btns {
	list-style:none;
	float:right;
	}
.social-btns li {
	float:left;
	margin-left:15px;
	}
.social-btns a{
	color: #c4191f;
}
/*.social-btns a {
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
}*/
.social-btns a i:hover{
	transform: rotatey(360deg);
-webkit-transform: rotatey(360deg);
-moz-transform: rotatey(360deg);
-o-transform: rotatey(360deg);
-ms-transform: rotatey(360deg);
transition: 0.5s all ease;
-webkit-transition: 0.5s all ease;
-moz-transition: 0.5s all ease;
-o-transition: 0.5s all ease;
-ms-transition: 0.5s all ease;
}



/* footer */
footer {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	width:100%;
	height:60px;
	padding-top:20px;
	/*padding-bottom:60px;*/
	z-index:1000000000000;
	background-color:#FFF;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;}
footer .row div:first-child{
	height:30.2px;
	line-height:30.2px;}
	
	
	
/* links,headings,rows and columns */
a, a:hover{
	text-decoration:none;}
 a:hover{
	color:#A01E22;}
h1,h2,h3,h4,h5{
	color:#000;
	font-family:garamond;
	}
.row{
	margin-bottom:40px;}
footer .row{
	margin-bottom:0;}
.col-sm-12, .col-md-4, .col-md-6 {
	padding:0 20px;}
.rightText{
	text-align:right;}
.labelDate{
	color:#828282;
	font-weight:bold;
	font-size:0.8em;}
	
	
	
/* accordion */
#accordion{
	margin:0 auto;
	width:80%;}
#accordion div {
	display:none;}
#accordion h3{
	height:50px;
	line-height:50px;
	padding:5px 0 5px 10px;
	background-color:#C4191F;
	color:#fff;
	margin-top:2px;
	margin-bottom:0;
	border-radius:10px;}
#accordion h3:hover{
	cursor:pointer;
	background-color:#D11B21;}
#accordion div {
	padding:10px 0 10px 20px;}
.rotate {-moz-transform: rotate(180deg);
         -webkit-transform:rotate(180deg); 
         -ms-transform:rotate(180deg);
         -o-transform:rotate(180deg);
         }



/*  table */
table {
	width:100%;}
th,td{
	height:50px;
	font-size:1.2em;
	border-bottom:1px solid #999;}



/* carousel */	
#myCarousel {
	margin: 20px auto 50px;
	}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}
.carousel-indicators {
  bottom:-50px;
}

.carousel-indicators li {
  border-color:#999;
  background-color:#ccc;
}

.carousel-inner {
   margin-bottom:50px;
}



/* hr style */
/*hr{
	border: 0; 
  	height: 1px; 
    background-image: -moz-linear-gradient(left, #fff, #000, #fff);
    background-image: -webkit-linear-gradient(left, #fff, #000, #fff);
    background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#fff), color-stop(0.5, #000), to(#fff));
    background-image: -o-linear-gradient(left, #fff, #000, #fff);
    background-image: linear-gradient(left, #fff, #000, #fff);}*/
	
	
	
/* about page,portfolio styles */	
.leftImg{
	float:left;
	margin:0 25px 15px 0;}
.rightImg{
	float:right;
	margin:0 0 15px 25px;}
#aboutText{
	margin-top:30px;}
.stuff{
	max-width:380px;
	height:400px;
	margin:30px auto;
	text-align:center;
	}
.stuff h4, .stuff p {
	padding:10px 5px;}
.portfolio{
	margin-bottom:30px;
	text-align:center;}
.modal-content{
	margin:0 auto;
	max-width:1200px;}
.aboutCol{
	margin-bottom:100px;
	margin-top:30px;
	clear:both;}
.h3Red{
	font-size: 1.1em;
	background-color: #C4191F;
	text-align:center;
	color:#fff;
	/*width:12%;*/
	height:35px;
	line-height:35px;
	border-radius:5px;
	display:inline-block;
	padding:0 15px;}




/* contact form & map styles */	
#map {
        height: 400px;
        width: 100%;
		margin-top:50px;
		border: 1px solid #000;
       }

.error {
	border:1px solid red;}
.contact, .form{
	margin-top:30px;
	padding-left:10px;}
.form{
	border-right:1px solid #000;
}
.contact{
	text-align:center;}
.formHeading{
	text-align:center;}



/* well styles */	
.well {
	background:transparent;
	text-align:center;
	border:none;}
.wellHeading{
	font-size: 1.1em;
	background-color: #C4191F;
	color: #fff;
	width: 180px;
	height: 35px;
	line-height: 35px;
	margin: 0 auto;
	border-radius: 5px;
}


	
/* comments styles */
.commentsHeading h4{
	background-color: #C4191F;
	color:#fff;
	width:12%;
	text-align:center;
	height:35px;
	line-height:35px;
	border-radius:5px;}
#leaveComment{
	width:40%;}



/* button styles */	
.a-btn {
	margin-top:10px;}	
.a-btn a{
	font-size:0.8em;
	color:#888;
	padding:7px 20px;
	border:1px solid #888;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;}
.a-btn a:hover {
	background:#C4191F;
	color:#fff;
	border:none;}
	
	
/* media queries */
@media (max-width:1200px){
#leaveComment{
	width:50%;}
}
@media (max-width:991px){
.form{
	border-right:none;}	
.centered{
	text-align:center;}
.pull-right{
	float:none !important;}
}
@media (max-width:768px){
.commentsHeading h4 {
	width: 25%;
}
.form{
	border-right:none;}
}
@media (max-width:640px){
.commentsHeading h4 {
	width: 35%;
	font-size: 13px;
}
.form{
	border-right:none;}
#leaveComment{
	width:50%;}

}
@media (max-width:480px){
.commentsHeading h4 {
	width: 40%;
	font-size: 12px;
}
.form{
	border-right:none;}
}
@media (max-width:320px){
.commentsHeading h4 {
	width: 65%;
	font-size: 11px;
}
.form{
	border-right:none;}
#leaveComment{
	width:70%;}
}




	
